### Python Lists


Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

#### Creation of list

In [6]:
list1 = ["abc", 34, True, 40, "male"]
print(type(list1))

<class 'list'>

#### Access list Elements

In Python, Lists are orderd and each item in a list is associated with a number. The number is known as a list index.

In [9]:
# Positive indexing
language = ["Python", "Swift", "C++", "C"]
print(language[1])
print(language[3])

Swift
C

In [13]:
# Negitive indexing
numbers = [51,45,26,34,45,996]
print(numbers[-1])
print(numbers[-4])

996
26

#### Slicing of a List

Consider a Python list, in order to access a range of elements in a list, you need to slice a list. One way to do this is to use the simple slicing operator i.e. colon(:).

In Python, it is possible to access a portion of a list using the slicing Operator:

In [20]:
my_list = ['a','b','c','d','e','f','g','H','h','i','j','k','l','m','n','o','p','q']
print(my_list[8:9])
print(my_list[12:-1])
print(my_list[:4])
print(my_list[:])
print(my_list[-8:-7])

['h']
['l', 'm', 'n', 'o', 'p']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'H', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q']
['j']

#### List Operations
List Contain Two types of Operations.

1.Concatenation

In [26]:
# Adding Two lists 
a = [1,2,3]
b = [4,5,6,7,8,9]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Repetition

In [31]:
# Repete the values at multiple times
a = [102,4,51,235,283]
b = a * 3
print(b)

[102, 4, 51, 235, 283, 102, 4, 51, 235, 283, 102, 4, 51, 235, 283]

#### Change List items
To change the values of a specific item, refer to the index number.

In [34]:
list = ["goa", "shmila", "hyderabad"]
print(list)
list[0] = "Water melon"
print(list)

['goa', 'shmila', 'hyderabad']
['Water melon', 'shmila', 'hyderabad']

#### Change a Range of item Values
To Change the values of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new vales.

In [41]:
places_fruits= ["goa", "shmila", "hyderabad"]
places_fruits[2:4] = ["blackcurrant", "watermelon","cherry"]
print(places_fruits)

['goa', 'shmila', 'blackcurrant', 'watermelon', 'cherry']

### List Methods
Python has a set of built-in methods that you can use on list.



1.append() Adds an element at the end of the list

2.extend() Add the elements of a list to the end of the current list

3.insert() Adds an element at the specified position

4.remove() Removes the item with the specified value

5.pop() Remove the element at the specified position

6.index() Returns the index of the first element with the specified value

7.count() Returns the numbetr of elements with the specified value

8.sort() It can sort the list in ascending order

9.reverse() Reverse the order of element in the list

#### 1. append( ):
To add an item to the end of the list, use the append() method:

In [47]:
python_versions = ["Python 2", "Python 3"]
python_versions.append("Python 3.11")

print(python_versions)

['Python 2', 'Python 3', 'Python 3.11']

#### 2. extend( ):
To append elements from another list to the current list, use the extend() method

In [50]:
python_modules = ["NumPy", "Pandas"]

additional_modules = ["Matplotlib", "scikit-learn"]
python_modules.extend(additional_modules)

print(python_modules)

['NumPy', 'Pandas', 'Matplotlib', 'scikit-learn']

#### 3. insert( ):
To insert a list item at a specified index or position, use the insert() method.

In [55]:
programming_languages = ["C", "Java", "Python", "Ruby"]
programming_languages.insert(1, "C++")  # 1 is index and c++ is item

print(programming_languages)

['C', 'C++', 'Java', 'Python', 'Ruby']

#### 4. remove( ):
Removes the first occurance of a value, The remove() method removes the specified item.

In [60]:
frameworks = ["Django", "Flask", "Pyramid", "Flask"]
frameworks.remove("Flask")
print(frameworks)

['Django', 'Pyramid', 'Flask']

#### 5. pop( ):
The pop() method removes the specified index, Removes and returns an elements at a specified index.

In [63]:
web_frameworks = ["Django", "Flask", "Pyramid", "FastAPI"]
removed_framework = web_frameworks.pop(2)

print(web_frameworks)

['Django', 'Flask', 'FastAPI']

In [69]:
 # incase of empty pop last element will be removed

web_frameworks = ["Django", "Flask", "Pyramid", "FastAPI"]
removed_framework = web_frameworks.pop()   

print(web_frameworks)

['Django', 'Flask', 'Pyramid']

#### 6. index( ):
Returns the index of the first occurance of a value

In [72]:
languages = ["C", "C++", "Python", "Java", "Python"]
python_index = languages.index("Python")

print(python_index)

2

#### 7. count( ):
Returns the number of occurances of a value.

In [75]:
version_numbers = [2, 3, 3, 3, 3, 3, 3, 3, 3, 3]
python3_count = version_numbers.count(3)

print(python3_count)

9

#### 8. sort( ):
Sorts the list in a ascending order

In [80]:
numbers = [45,23,12,24,65,7325,343,34,2.7, 3.0, 3.6, 3.7, 3.8, 3.9]
numbers.sort()
print(numbers)

[2.7, 3.0, 3.6, 3.7, 3.8, 3.9, 12, 23, 24, 34, 45, 65, 343, 7325]

#### 9. reverse( ):
Reverses the order of elements in the list

In [83]:
numbers = [45,23,12,24,65,7325,343,34,2.7, 3.0, 3.6, 3.7, 3.8, 3.9]
numbers.reverse()
print(numbers)

[3.9, 3.8, 3.7, 3.6, 3.0, 2.7, 34, 343, 7325, 65, 24, 12, 23, 45]

#### Some other methods in List

#### min() 
gives minimum value

In [92]:
x = min(5,2,96,36, 10)

print(x)

2

#### max()
gives maximum value

In [94]:
x = max(5,2,96,36, 10)

print(x)

96

#### copy()
copies the list

In [99]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

#### len()
gives the length of the list

In [104]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = len(fruits)
print(x)

4


#### clear( ):
The clear( ) method empties the list. The list still remains, but it has no content.

In [107]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]